---
pageTitle: Experience
bodyClasses: other-pages
loadScripts: false
---
			<main class="meat-and-potatoes">
				{{>main-menu}}
				<hr>
				<section class="summary">
					<h3 class="sect-title">
						Experience
					</h3>
					<h4>
						Research Placement at CatSci Ltd
					</h4>
					<p>
						I've independently carried out a short project in a private business environment where I've received training on the site laboratory facilities, especially on automated technology for performing high-throughput reaction screening.
					</p>
					<h4>
						Summer project for Wella - Committed Beyond Beauty
					</h4>
					<p>
						I've participated in a P&G corporate sustainability project aiming to reduce the environmental impact of hair salons. My contribution involved reporting specific practices of concern by observing the daily routine within a number of salons and discussing potential issues and improvements together with salons' owners.
						The observations were presented at P&G Headquarters in Geneva and made into a promotional video and handbook.
					</p>
					<p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/T5zO5IwwQ6w" frameborder="0" allowfullscreen></iframe>
					</p>
				</section>			
			</main>