---
pageTitle: Experience
bodyClasses: other-pages
loadScripts: false
---
			<main class="meat-and-potatoes">
				{{>main-menu}}
				<hr>
				<section class="summary">
					<h3 class="sect-title">
						Experience
					</h3>
					<h4>
						Research Placement at CatSci Ltd
					</h4>
					<p>
						Independently carried out a short project in a private business environment. I have received training on the site laboratory facilities, especially on the Mettler-Toledo MiniMappers, an automated technology for performing high-throughput reaction screening.
					</p>
					<h4>
						Summer project for Wella - Committed Beyond Beauty
					</h4>
					<p>
						Participated in an ongoing corporate sustainability project with the aim of reducing the environmental impact of hair salons practice. My contribution involved collecting data on the specific areas of concern and identifying the potential improvements to be done.
						On-site observations were presented at P&G Headquarters in Geneva and made into a promotional video and handbook.
					</p>
				</section>			
			</main>