---
pageTitle: Projects
bodyClasses: other-pages
loadScripts: false
content: 'src/_markdown/projects.md'
---
			<main class="meat-and-potatoes">
				{{>main-menu}}
				<hr>
				<section class="summary">
					{{md content}}				
				</section>			
			</main>