<footer class="feet">
				<div class="wrapme">
					<h2 class="giulia-s-name">
						Giulia Paggiola, M.Sc.
					</h2>
					<p class="giulia-s-specs">Ph.D. Candidate in Green Chemistry<br>University of York <br> Heslington, York YO10 5DD, UK</p>					
				</div>
			</footer>